body{
    font-family: "Amethysta", serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding: 0;
}

.main{  
    display : flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    
}

.left{
    background-image: url(./images/ryan-tasto-7WokJZUYFSo-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /*font-family: "Amethysta"; */
}

.right{
    display: flex;
    flex-direction: column;
    width : 65vw;
    
}

.first{
    height: 33vh;
    background-color: #fafafa;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}
.second{
    height: 33vh;
}

.third{
    height: 33vh;
}
