body {
  font-family: "Amethysta", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(./images/ryan-tasto-7WokJZUYFSo-unsplash.jpg);
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*font-family: "Amethysta"; */
  display: flex;
  justify-content: center;
  align-items: start;
}

.right {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.first {
  height: 25vh;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;
}
.second {
  height: 33vh;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 5%;
}

.main-form-div {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  width: 60%;
  justify-content: space-between;
  box-shadow: 0px 5px 5px #e5e7eb;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.main-form-div label {
  text-transform: uppercase;
  color: #596d48;
}
input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 10px;
}

.third {
  height: 33vh;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: #fafafa;
}

.third a {
  text-decoration: none;
  color: #596d48;
}

button {
  background-color: #596d48;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #596d48;
  padding: 10px 25px 10px 25px;
}

.left-banner img {
  height: auto;
  width: 190px;
}

.left-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  margin-top: 150px;
}
